# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# 环境
.env
venv/
env/
*.conda

# 日志
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

